<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Restaurant Sign Up</h1>
          <h5> 💙 Feel Free to get membership 💙 </h5>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" formControlName="name" placeholder="Add Name Here" class="form-control"
              id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label class="form-label">Mobile Number</label>
            <input type="text" formControlName="mobile" placeholder="Add Mobile Number Here" class="form-control"
              id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" formControlName="email" placeholder="Add Email Address Here" class="form-control"
              id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" placeholder="Add Password Here" class="form-control"
              id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>&nbsp;
          <a routerLink="/login">Already Member? click to login!</a>
        </form>
      </div>
    </div>
  </div>
</div>